@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Roboto+Slab&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Leckerli One', cursive;
  color: #fff;
}
h1, h2 { 
  margin: 0; 
  font-family: 'IBM Plex Serif', serif;
  text-shadow: 0 2px rgba(0,0,0,.5);
}

.row {
  max-width: 100%;
  margin: 0 auto;
}


.intro-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: table;
  z-index: -1;
}

.content { 
  height: 100vh;
  padding: 50px;
  background: #333;
  margin-top: 100vh;
}

.page > .intro-header > .vid_wrapper {
  width: 100vh;
  display: flex;
  justify-content: center;
}